.carousel_item {
  flex-grow: 1;
  background-image: cover;
  background-position: center center;
  min-height: 600px;
  max-height: 600px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: 1s;
}

.carousel_item h2 {
  font-size: 3rem;
  margin: 0;
}

.carousel_item p {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 50px;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
